@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700;800;900&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  @apply font-inter text-base;
}

#app {
  @apply h-screen w-screen;
}

.sideBarMenuItem {
  @apply flex flex-row justify-start items-center;
  @apply px-4 py-3 mt-2 rounded-lg transition-all;
  @apply font-semibold text-sm font-inter;
  @apply text-black hover:text-white;
  @apply hover:bg-primary-400;
  @apply focus:outline-none active:outline-none;
}

.sideBarMenuItem.router-link-active {
  @apply flex flex-row justify-start items-center;
  @apply px-4 py-3 mt-2 rounded-lg transition-all;
  @apply font-semibold text-sm font-inter;
  @apply text-white;
  @apply bg-primary-600 hover:bg-primary-500 focus:bg-primary-500;
  @apply focus:outline-none active:outline-none;
}

#menu-hamburger {
  width: 23px;
  height: 10px;
  position: relative;
  margin: 10px 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

#menu-hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  @apply transition-all;
  @apply group-hover:text-primary-400;
  @apply bg-zinc-800 group-hover:bg-primary-400;
}

#menu-hamburger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

#menu-hamburger span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}

#menu-hamburger span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}

#menu-hamburger.open span:nth-child(1) {
  width: 23px;
  transform: rotate(45deg);
  top: 0px;
  left: 6px;
}

#menu-hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menu-hamburger.open span:nth-child(3) {
  width: 23px;
  transform: rotate(-45deg);
  top: 16px;
  left: 6px;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.project {
  @apply flex flex-row justify-between items-center;
  @apply w-full p-3;
  @apply hover:bg-primary-100;
  @apply transition-all cursor-pointer;
}

.selected-project {
  @apply bg-primary-200 hover:bg-primary-200;
}

.selected-repo {
  @apply border-2 border-solid border-green-500 bg-green-100;
}

.handle:hover {
  @apply cursor-grab;
}

/* Colours come from here: https://tailwindcss.com/docs/customizing-colors */

@layer components {
  .primary-plain-button {
    @apply flex flex-row justify-center items-center;
    @apply px-5 py-2 rounded;
    @apply text-[14px] font-medium;
    @apply text-gray-900  hover:text-primary-600;
    @apply border border-primary-300;
    @apply hover:bg-primary-100;
    @apply transition-all;
  }

  .primary-button {
    @apply flex flex-row justify-center items-center;
    @apply px-5 py-2 rounded;
    @apply text-[14px] font-medium;
    @apply text-white;
    @apply border border-primary-500;
    @apply bg-primary-600 hover:bg-primary-500;
    @apply transition-all;
  }

  .primary-button:disabled {
    @apply opacity-50;
  }

  .secondary-plain-button {
    @apply flex flex-row justify-center items-center;
    @apply px-5 py-2 rounded;
    @apply text-[14px] font-medium;
    @apply text-gray-900  hover:text-secondary-600;
    @apply border border-secondary-300;
    @apply hover:bg-secondary-100;
    @apply transition-all;
  }

  .secondary-button {
    @apply flex flex-row justify-center items-center;
    @apply px-5 py-2 rounded;
    @apply text-[14px] font-medium;
    @apply text-black;
    @apply border border-secondary-500;
    @apply bg-secondary-200 hover:bg-secondary-300;
    @apply transition-all;
  }

  .danger-plain-button {
    @apply flex flex-row justify-center items-center;
    @apply px-5 py-2 rounded;
    @apply text-[14px] font-medium;
    @apply text-black hover:text-red-700;
    @apply border border-red-300;
    @apply hover:bg-red-50;
    @apply transition-all;
  }

  .danger-button {
    @apply flex flex-row justify-center items-center;
    @apply px-5 py-2 rounded;
    @apply text-[14px] font-medium;
    @apply text-red-700;
    @apply border border-red-300;
    @apply bg-red-50 hover:bg-red-100;
    @apply transition-all;
  }
}

/* ------------------------------------------
Custom styles for anything provided by element plus
Trying to keep this minimal since we want to use much of the predefined styles as possible 
--------------------------------------------- */

.el-form-item__label {
  @apply flex flex-row-reverse;
}

.el-form-item__label:before {
  @apply ml-1;
}

.el-button span {
  @apply flex flex-row justify-center items-center;
}

.el-icon {
  @apply mx-1;
}

.el-form--label-top .el-form-item__label {
  @apply font-medium;
  padding-bottom: 1px !important;
}

.el-step {
  @apply flex flex-row items-center justify-center;
}

.el-step__description {
  @apply py-2;
}

.el-overlay-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-dialog {
  margin: 0 !important;
}

.el-dialog__header {
  padding: 0 !important;
}

.el-select-group > .el-select-dropdown__item {
  margin-left: 5px;
}

.el-collapse-item__header {
  @apply bg-gray-100;
}

/* ------------------------------------------
Transition styles for <transition />
--------------------------------------------- */

.sideBarFade-enter-active,
.sideBarFade-leave-active {
  @apply transition-all;
}

.sideBarFade-enter-to,
.sideBarFade-leave {
  @apply opacity-100 scale-100;
}

.sideBarFade-enter,
.sideBarFade-leave-to {
  @apply opacity-0 scale-95;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  /* transform: translateY(-20px); */
}

.lightfadeleft-enter-active,
.lightfadeleft-leave-active {
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  opacity: 0.7;
}

.lightfadeleft-enter-from,
.lightfadeleft-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.createNewProjectFormItemContainer .el-form-item__error {
  @apply w-full flex justify-center pt-2;
}